.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 14rem;
    margin-left: -7rem;
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 1rem;
}

#book-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

td {
    padding: 3px;
    text-align: center;
}

thead {
    padding: 1rem;
}